.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto minmax(0, 250px) minmax(0, 40em) auto;
  gap: 1.5rem;

  /* margin: -4rem -3rem 0; */
  padding-block: 4rem;
  background-color: hsl(21, 19%, 82%, 100);
  /* background-image: linear-gradient(176deg, #22313F 70%, #F4F4F4 calc(70% + 1px)) */
  /* clip-path: polygon(0 0, 100vw 0, 100vw 75%, 0 100%); */
  /* margin-left: calc(-100vw / 2 + 75rem / 2);
  margin-right: calc(-100vw / 2 + 75rem / 2); */
  /* width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 0;
  left: 50%; */
}

.header-container {
  grid-column: 2 / 4;
}

/* .header:after {
  content: "";
  position: absolute;
  left: -50%;
  top: -120%;
  width: 200%;
  height: 200%;
  z-index: -1;
  background-color: #efefef;
  transform: rotate(-6deg);
} */

.name {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 700;
}

.last-name {
  font-weight: 400;
}

.position {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1.25rem;
}
