:root {
  --header-bg-color: ;
  --page-bg-color: hsl(280, 6%, 90%);
  --page-font-color: hsl(280, 0%, 30%);
  --header-color: hsl(270, 100%, 0%);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--page-bg-color);
  line-height: 1.5;
  color: var(--page-font-color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  line-height: 1.75;
  margin: 0;
  padding-inline-start: 1rem;
}

ul > li {
  padding-left: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.35;
}

main {
  display: flex;
  /* padding: 4rem 3rem; */
  flex-direction: column;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  margin-inline: auto;
}

aside h3 {
  font-weight: 600;
  margin-bottom: 0;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    color-adjust: exact;
  }
}
